@{
    ViewData["Title"] = "Home Page";
    var text = "Aby zakupić bilety należy pierw się zalogować albo zarejestrować";
}

<div class="text-center">
    <h1 class="display-4">Witamy w centrum sprzedaży biletów</h1>
    <p>@text</p>
</div>
